/*
===========NAVBAR PROPERTIES===========
*/

.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #076ae1;
    position: sticky;
    top: 0;
    z-index: 500;
}

.title { 
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    display: inline-block;
    color: #6FFFE9;
    margin-right: 1em;
}

hgroup {
    float: left;
}



/*
login navbar
*/
.login-right {
    position: absolute;
    right: 0;
}


/*
===========OVERALL BUTTONS PROPERTIES===========
*/

li {
    float: left;
}

input, textarea{
    padding-top: 1em;
    margin-top: 1em;
}

button, input {
    text-align: center;
    margin-top: 1em;
    background-color: #3A506B;
    color: white;
    border: 1px;
    text-align: center;
    padding: 11px 20px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px ;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display:inline-block;
}

/*
hover over
*/

input:hover, li a:hover {
    background-color: #ffffff;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   
   #down {
    margin-top: 100%;
    padding-bottom: 25%;
   } 


   .track img {
    width: 100%;
  }
  
  .track .play {
    position: absolute;
    top: calc((85% / 2) - (22px / 2)); /* Half image height minus half button height */
    left: calc((100% / 2) - (50% / 2)); /* Half image width minus half button width */
  }

.companyscroll {
    font-size: 50px;
    background-color: white;
    padding: 0.5em;
}